localhost {
    redir /encuesta /encuesta/
    
    route /encuesta/* {
        reverse_proxy swims-limesurvey-dev:8080
    }

    route * {
        reverse_proxy swims-wildfly-dev:8080
    }
}

    


